<form id="troopForm">
  <label for="troopName">Troop Name:</label>
  <input type="text" id="troopName" name="troopName" required>

  <label for="troopTask">Task:</label>
  <select id="troopTask" name="troopTask" required>
    <option value="" disabled selected>Select Task</option>
    <option value="task1">Task 1</option>
    <option value="task2">Task 2</option>
    <option value="task3">Task 3</option>
  </select>

  <label for="troopBase">Base Location:</label>
  <select id="troopBase" name="troopBase" required>
    <option value="" disabled selected>Select Base Location</option>
    <option value="base1">Base 1</option>
    <option value="base2">Base 2</option>
    <option value="base3">Base 3</option>
  </select>

  <input type="submit" value="Assign">
</form>
